body {
	background: -webkit-linear-gradient(-8deg, rgb(255, 179, 255), rgb(209, 187, 255))
}

h1 {
  	color: #46A3FF;
 	text-align: center;
}

#instructions {
  	background-color: #f0f0f0;
  	padding: 10px;
  	margin-bottom: 20px;
}

#guessnumber {
  	text-align: center;
  	margin-bottom: 20px;
}

#result {
  	font-weight: bold;
  	text-align: center;
  	margin-bottom: 20px;
	color: #9D9D9D;
}


button {
  background-color: #6FB7B7;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #408080;
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

